*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.main{
    width: 1100px;
    margin: auto;
}


.secm{
    background-color: aqua;
    padding: 10px 30px;
}
li{
    display: inline-block;
}
li a{
    color:#767676;
    text-decoration: none;
    margin: 0px 5px;
    padding: 3px 5px;
    transition: .4s;
}
a:hover{
    background-color: blue;
    color: aliceblue;
}
button{
    color: green;
    border: 1px solid green;
    padding: 2px 5px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color:blue ;
    color: aliceblue;
}
.ddd{
    background-color: #ddd;
    color: #767676;
    width: 350px;
    display:block;
    padding: 5px 10px;
    margin-top: 5px;
}
.hello{
    box-shadow: 4px 4px 5px 2px #ddd;
    padding: 10px 15px;
    line-height: 30px;
    margin: 15px 50px;
}
.banner{
    text-align: center;
    background-image: url(./workplace-with-smartphone-laptop-black-table-top-view-copyspace-background_144627-24860.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #fff;
    

}

.well{
    background-color: rgb(156, 236, 210);
    color: rgb(5, 70, 48);
    padding: 10px 20px;
    margin: 30px 0px;
}
.name{
    background-color: #ddd;
    padding: 20px 10px;
}
.verse{
    color: blue;
    
}
.verse1{
    display: inline-block;
}
.verse2{
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 8px 15px;
}
.vel{
    line-height: 35px;
}
footer{
    background-color: aqua;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}
progress{
    width: 85%;
    height: 20px;
    display:block;
}
.pgb{
    color: blue;
}
.pgb1{color: #767676;}
.pgb2{color: aqua;}
.pgb3{color: aquamarine;}
.pgb4{color: brown;}
.pgb5{color: chartreuse;}
.item{
    background-color: #767676;
    color: cornflowerblue;
    padding: 5px 10px;
    width: 80%;
    border: 1px solid #ddd;
    margin-left: 5%;
    
}
.col{
    display: inline-block;
    width: 45%;
}
.pro{
    display: inline-block;
    width: 45%;
}